<button [disabled]="orderData.backout" class="btnStyle" nzShape="round" nz-button nzType="dashed" (click)="showModal()">
  <span>Procedures</span>
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzWidth="1000px"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="switchModalFooter"
>
  <!-- this div to align the modal head in the center nothing more -->
  <div class="center">
    <span class="modalTitle">
      • {{ orderData.worker.fullName }} •
      <br />
      <span class="titleChildren">| {{ orderData.worker.visa }} |</span>
    </span>
  </div>
  <!-- end of the center div    -->
  <nz-card class="card">
    <div nz-row>
      <nz-switch
        (ngModelChange)="changeSwitch($event, 'musaned_contract', 0)"
        [nzDisabled]="orderData.procedures[0].musaned_contract"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
        [ngModel]="allProceduresStatus[0].musaned_contract"
      ></nz-switch>
      <p class="switchLabel">Musaned Contract</p>
    </div>

    <div nz-row>
      <nz-switch
        (ngModelChange)="
          changeSwitch($event, 'medical_examination', 1)
        "
        [nzDisabled]="orderData.procedures[1].medical_examination"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
        [ngModel]="allProceduresStatus[1].medical_examination"
      ></nz-switch>
      <p class="switchLabel">Medical Examination </p>
    </div>
    <div nz-row>
      <nz-switch
        (ngModelChange)="
          changeSwitch($event, 'training', 2)
        "
        [nzDisabled]="orderData.procedures[2].training"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
        [ngModel]="allProceduresStatus[2].training"
      ></nz-switch>
      <p class="switchLabel">Training</p>
    </div>
    <div nz-row>
      <nz-switch
        (ngModelChange)="
          changeSwitch($event, 'Police_certificate', 3)
        "
        [nzDisabled]="orderData.procedures[3].Police_certificate"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
        [ngModel]="allProceduresStatus[3].Police_certificate"
      ></nz-switch>
      <p class="switchLabel">Police Certificate</p>
    </div>
    <div nz-row>
      <nz-switch
        (ngModelChange)="changeSwitch($event, 'fingerPrint', 4)"
        [nzDisabled]="orderData.procedures[4].fingerPrint"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
        [ngModel]="allProceduresStatus[4].fingerPrint"
      ></nz-switch>
      <p class="switchLabel">Fingerprints</p>
    </div>
    <div nz-row>
      <nz-switch
        (ngModelChange)="
          changeSwitch($event, 'visa', 5)
        "
        [nzDisabled]="orderData.procedures[5].visa"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
        [ngModel]="allProceduresStatus[5].visa"
      ></nz-switch>
      <p class="switchLabel">Visa</p>
    </div>
    <div nz-row>
      <nz-switch
        (ngModelChange)="
          changeSwitch($event, 'ticket_book', 6)
        "
        [nzDisabled]="orderData.procedures[6].ticket_book"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate"
        [ngModel]="allProceduresStatus[6].ticket_book"
      ></nz-switch>
      <p class="switchLabel">Tickets</p>
    </div>
  </nz-card>
  <div class="timeDiv">
    <nz-timeline>
      <nz-timeline-item>
        Musaned Contract
        |
        <span class="dates">
           {{allProceduresStatus[0].date[0]?.toLocaleDateString('EG', options)}} 
        </span>
      </nz-timeline-item>
      <nz-timeline-item>
        Medical Examination
        |
        <span class="dates">
           {{allProceduresStatus[1].date[0]?.toLocaleDateString('EG', options)}} 
        </span>
      </nz-timeline-item>
      <nz-timeline-item>
        Training
        |
        <span class="dates">
           {{allProceduresStatus[2].date[0]?.toLocaleDateString('EG', options)}} 
        </span>
      </nz-timeline-item>
      <nz-timeline-item>
        Police Certificate
        |
        <span class="dates">
           {{allProceduresStatus[3].date[0]?.toLocaleDateString('EG', options)}} 
        </span>
      </nz-timeline-item>
      <nz-timeline-item>
        Fingerprints
        |
        <span  class='dates' *ngIf="allProceduresStatus[4].date.length===2">
          {{allProceduresStatus[4].date[0]?.toLocaleDateString('EG', options)}}
          <span class='dates' style="color: red;">To</span>
          {{allProceduresStatus[4].date[1]?.toLocaleDateString('EG', options)}}
       </span>
      </nz-timeline-item>
      <nz-timeline-item>
        Visa
        |
        <span class="dates">
           {{allProceduresStatus[5].date[0]?.toLocaleDateString('EG', options)}} 
        </span>
      </nz-timeline-item>
      <nz-timeline-item>
        Tickets
        |
        <span class="dates">
           {{allProceduresStatus[6].date[0]?.toLocaleDateString('EG', optionsTicket)}}
        </span>
      </nz-timeline-item>
    </nz-timeline>
  </div>

   <!-- This Modal for the RangePicker where we will set the appointments -->
<div style="width: 35%;left: 10%; margin: 10px;">
  <button style="left:15%;" nzBlock nzDanger nz-button nzType="primary" (click)="showModalDates()">
    <span>Appointments</span>
  </button>
</div>
<nz-modal
  [(nzVisible)]="isVisibleDates"
  (nzOnCancel)="handleCancelDates()"
  [nzFooter]="datesModalFooter"
>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired
        >Fingerprints</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">

          <nz-range-picker
            [nzDisabled]="
              orderData.procedures[4].date.length === 0  ? false : true
            "
            (ngModelChange)="onDateChange($event, 'fingerPrints')"
            formControlName="FingerPrints"
          ></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Tickets</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-date-picker
          (ngModelChange)="onDateChange($event, 'tickets')"
          (nzOnOk)="onDateOk($event,'tickets')"
           nzShowTime
            [nzDisabled]="
              orderData.procedures[6].date.length === 0  ? false : true
            "
            formControlName="tickets"
          ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </form>

  <!-- End of RangePicker -->
  <ng-template #datesModalFooter>
    <button nz-button nzType="default" (click)="handleCancelDates()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
  </ng-template>
</nz-modal>
  

  <ng-template #switchModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      [nzLoading]="modalOkLoading"
      nz-button
      nzType="primary"
      (click)="handleOk()"
    >
      Confirm
    </button>
  </ng-template>
</nz-modal>
<ng-template #checkedTemplate><i class="fas fa-check"></i></ng-template>
<ng-template #unCheckedTemplate><i class="fas fa-times"></i></ng-template>
