#portfolio {
    padding: 0px 0 100px 0;
    
    
  }
  
  .container {
      position: relative;
      width: 300%;
      max-width: fit-content;
      margin: 0 auto;
      padding: 0 20px;
    box-sizing: border-box;
    
    
  }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
      .container {
          width: 85%;
          padding: 0;
      }
      }
  
      @media (min-width: 550px) {
          .container {
              width: 80%;
          }
      }
  
      .block {
          width: 70px;
          height: 2px;
          background: #e55d87; /* Old browsers */
          background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
          background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
          background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
          margin-bottom: 50px;
      }
  
  
      .container:after, .row:after, .u-cf {
          content: "";
          display: table;
          clear: both;
      }
  
  
  
      /* Mixins */
  /* Color Variables */
  /* Theme Variables */
  /* Animations */
  @-webkit-keyframes bounce {
      0% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      33% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
      }
      66% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }
    @keyframes bounce {
      0% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      33% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
      }
      66% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }
    
    /* Base Styles */
    
    
  
    
  
    
    /* Component Styles - Steps */
    .steps {
      display: -webkit-box;
      display: -ms-flexbox;
    display: flex;
      width: 950px;
      margin: 0;
      padding: 0 0 2rem 0;
      list-style: none;
      position: relative;
    margin-bottom: 10px;
  
      
      }
    
    .step {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      position: relative;
      pointer-events: none;
      margin-top:20px;
      margin-bottom: 10px;
    }
    
    .stepActive, .stepComplete {
      cursor: pointer;
      pointer-events: all;
    }
    
    .step:not(:last-child):before, .step:not(:last-child):after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 0.50rem;
      content: '';
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      will-change: width;
      z-index: -1;
    }
    
    .step:before {
      width: 100%;
      background-color: #e6e7e8;
    }
    
    .step:after {
      width: 0;
      background-color:#fbc34a;
    }
    
    .stepComplete:after {
      width: 100% !important;
      opacity: 1;
      -webkit-transition: width 0.6s ease-in-out,
     opacity 0.6s ease-in-out;
      transition: width 0.6s ease-in-out,
     opacity 0.6s ease-in-out;
    }
    
    .stepIcon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
     /* default size was : 
     
     width: 4rem;
      height: 4rem; */
    
      width: 6rem;
      height: 6rem;
      background-color: #ffffff;
      border: 0.25rem solid #e6e7e8;
      border-radius: 50%;
      color: transparent;
      font-size: 2rem;
    }
    
    
    
    .stepComplete.stepActive .stepIcon {
      color: #fff;
      -webkit-transition: background-color 0.3s ease-in-out,
     border-color 0.3s ease-in-out,
     color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out,
     border-color 0.3s ease-in-out,
     color 0.3s ease-in-out;
    }
    
    .stepIncomplete.stepActive .stepIcon {
      border-color: #fbc34a;
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s;
    }
    
    .stepComplete .stepIcon {
      -webkit-animation: bounce 0.5s ease-in-out;
              animation: bounce 0.5s ease-in-out;
      background-color: #fbc34a;
      border-color: #fbc34a;
      color: #fff;
    }
    
    .stepLabel {
      position: absolute;
      width: fit-content;
      left: 50%;
    bottom: -2.5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    transform: translateX(-50%);
              font-family: "Tajawal", sans-serif;
             
            }
    
    .stepIncomplete.stepInactive .stepLabel {
      color: #e6e7e8;
    }
    
    .stepIncomplete.stepActive .stepLabel {
      color: #fff;
    }
    
    .stepActive .stepLabel {
      -webkit-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out;
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s;
    }
    
    .steps img {
    
      width: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
    
    }
    
    .padding1 {
    
    padding-left: 2px;
    }
    
    .padding2{
    
      padding-left: 7px;
    }
    
    
    
    .Iconscontainer{
    
      border-style: groove;
      height: auto;
      width: auto;
      margin-bottom: 100px;
  
       /* background-image: url('D:/Work/React/hope-hands/src/assests/gabriele-garanzelli-PzO_CitnJdI-unsplash.jpg');
      background-size: cover;
      background-position: 0% 0%;
      background-repeat: no-repeat; */  
      background: #e55d87;
      background: -moz-linear-gradient(-45deg, #5fc3e4 0%, #e55d87 100%);
      background: -webkit-linear-gradient(-45deg, #5fc3e4 0%, #e55d87 100%);
      background: linear-gradient(135deg, #5fc3e4 0%, #e55d87 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );
      z-index: 3;
      position: relative;
      opacity: 90%;
      border-radius: 100px;
      border-color: #fbc34a;
    }
    
  
    
    
    
    
    /*# sourceMappingURL=ProgressLine.module.css.map */