<footer class="footer-distributed">

  <div class="footer-right">
    <nz-space nzSize="middle">
      <nz-space-item>
        <a href="https://www.snapchat.com/add/atef6050"><i class="fab fa-snapchat-ghost"></i></a>
      </nz-space-item>
      <nz-space-item>
        <a href="https://twitter.com/Ayadi_Alamal?s=20"><i class="fab fa-twitter"></i></a>
      </nz-space-item>
      <nz-space-item>
        <a href="tel:+966582223848"><i class="fas fa-mobile-alt"></i></a>
      </nz-space-item>
      <nz-space-item>
        <a href=" https://wa.me/00966565113225"><i class="fab fa-whatsapp"></i></a>
      </nz-space-item>
      <nz-space-item>
        <a href="https://goo.gl/maps/MHyCGdaPbJKPnKsD9"><i class="fas fa-map-marker-alt"></i>
        </a>
      </nz-space-item>
      </nz-space>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a class="link-1" href="#">Home</a>

      <a href="#">Blog</a>

      <a href="#">Pricing</a>

      <a href="#">About</a>

      <a href="#">Faq</a>

      <a href="#">Contact</a>
    </p>

    <p>Company Name &copy; 2020</p>
  </div>

</footer>