<section class="skills" dir="rtl" >
  <div class="container">
    <div style="margin-right: 10%;">
   <div class="row">
      <h1 style="text-align: right;"> عن الإجرائات </h1>
    </div>    
   <div class="row block"></div>
  </div>
    <nz-tabset style="height:fit-content;text-align: right;"  nzTabPosition ='right'>
      <nz-tab nzTitle="الفلبين">
       <app-philippinesInfo></app-philippinesInfo>
      </nz-tab>
      <nz-tab nzTitle="بنجلاديش">
        <app-bangladeshInfo></app-bangladeshInfo>
      </nz-tab>
      <nz-tab nzTitle="أوغندا">
      <app-ugandaInfo></app-ugandaInfo>
      </nz-tab>
      <nz-tab nzTitle="كينيا">
      <app-kenyaInfo></app-kenyaInfo>
      </nz-tab>
    </nz-tabset>
    
  </div>
</section>