    <!-- we added the row and col div's to arrange things  (was in div Row  nzJustify="center" nzAlign="top")  -->

    <div class="rowStyle" nz-row>
      <div nz-col [nzSpan]="24">
      <div style="text-align: right;">
      <button (click)="showModal()" class="addBtn" nz-button nzType="text"><i class="fas fa-plus" style="padding-right: 10px;"></i>إضافة</button>
       <nz-modal nzoverFlow="true" nzWidth="800px" nzWrapClassName="vertical-center-modal" (nzOnCancel)="handleCancel()" [(nzVisible)]="isVisible" nzTitle="• نموذج إدخال البيانات •">
        <div class="container">
        <form  nz-form dir="rtl" [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <div class="row row-cols-2">
            <div class="col">
              <nz-form-item>
                <nz-form-label class="client" nzRequired>رقم الفاتورة</nz-form-label>
                <nz-form-control nzErrorTip="الرجاء إدخال رقم الفاتورة">
                  <input class="inputStyle"  nz-input formControlName="invoiceNum"  />
                </nz-form-control>
              </nz-form-item>
             </div>
            <div class="col-4">
              <nz-form-item>
                <nz-form-label class="client" nzRequired>التاريخ</nz-form-label>
                <nz-form-control nzErrorTip = 'الرجاء إدخال التاريخ'>
                  <nz-date-picker formControlName="date"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
         
          <div class="col">
            <nz-form-item>
              <nz-form-label class="client" nzRequired >المبلغ بالريال السعودي</nz-form-label>
              <nz-form-control nzErrorTip="الرجاء إدخال المبلغ">
                <input  class="inputStyle"  nz-input formControlName="amount" currencyMask [options]='currencyOptions' />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col">
            <nz-form-item>
              <nz-form-label class="client"  nzRequired>وصف الفاتورة</nz-form-label>
              <nz-form-control nzErrorTip="الرجاء كتابة الوصف">
                <textarea  style="font-family:Tajawal,'Roboto Mono';" formControlName="description" nz-input rows="2"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div> 
          </div>
        </form> 
      </div>
        <div *nzModalFooter>
          <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
          <button [disabled]="!validateForm.valid" nz-button nzType="primary" (click)="submitForm()">Submit</button>
        </div>
       </nz-modal>
        </div>
        <!-- nzScroll is for making the table scrollable if there is much data -->
    <nz-table dir="rtl" #fixedTable nzBordered #basicTable [nzData]="expensesData" [nzScroll]="{ x: '1150px', y: '480px' }">
      <thead>
        <tr>
      <th>مرجع</th>
      <th>التاريخ</th>
      <th>رقم الفاتورة</th>
      <th>المبلغ</th>
      <th>وصف الفاتورة</th>
      <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.refrence }}</td>
          <td style=" font-family: Almarai;">{{ data.date.toLocaleDateString('ar-EG', options)}}</td>
          <td>{{ data.invoiceNum }}</td>
          <td class="moneyStyle"> SAR {{data.amount.toLocaleString('en')}}</td>
          <td style="font-size: medium; color: #2d6187;">{{ data.description }}</td>
          <td>
            <i class="fas fa-trash-alt deletebtn" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="delete(data.refrence)"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
    </div>
    </div>
    
    
    
    
    
    