
  <div class="row" style="text-align: right;"> 
    <div class="col-md-6">
    <h3 class="ProcSecH3"><span class="iconify icon" data-icon="emojione-monotone:digit-one" data-inline="false"></span>عقد مساند</h3>
      <p class="ProcSecP">نحرص على استقطاب عماله مهنية، مدربه و محترفة لتخدم جميع القطاعات التجارية مثل المطاعم والكوفيهات و الكوفيرات أو حتى المستشفيات</p>
</div>
    <div class="col-md-6">
      <h3 class="ProcSecH3" ><span class="iconify icon" data-icon="emojione-monotone:digit-two" data-inline="false"></span>الفحص الطبي</h3>
  <p class="ProcSecP">نحرص على استقطاب عماله مهنية، مدربه و محترفة لتخدم جميع القطاعات التجارية مثل المطاعم والكوفيهات و الكوفيرات أو حتى المستشفيات</p>
</div>
  </div>
  <div class="row" style="text-align: right;"> 
    <div class="col-md-6">
    <h3 class="ProcSecH3"><span class="iconify icon" data-icon="emojione-monotone:digit-three" data-inline="false"></span>المدرسة</h3>
      <p class="ProcSecP">نحرص على استقطاب عماله مهنية، مدربه و محترفة لتخدم جميع القطاعات التجارية مثل المطاعم والكوفيهات و الكوفيرات أو حتى المستشفيات</p>
</div>
    <div class="col-md-6">
      <h3 class="ProcSecH3" ><span class="iconify icon" data-icon="emojione-monotone:digit-four" data-inline="false"></span>البصمة</h3>
  <p class="ProcSecP">نحرص على استقطاب عماله مهنية، مدربه و محترفة لتخدم جميع القطاعات التجارية مثل المطاعم والكوفيهات و الكوفيرات أو حتى المستشفيات</p>
</div>
  </div>
  <div class="row" style="text-align: right;"> 
    <div class="col-md-6">
    <h3 class="ProcSecH3"><span class="iconify icon" data-icon="emojione-monotone:digit-five" data-inline="false"></span>التفييز</h3>
      <p class="ProcSecP">نحرص على استقطاب عماله مهنية، مدربه و محترفة لتخدم جميع القطاعات التجارية مثل المطاعم والكوفيهات و الكوفيرات أو حتى المستشفيات</p>
</div>
    <div class="col-md-6">
      <h3 class="ProcSecH3" ><span class="iconify icon" data-icon="emojione-monotone:digit-six" data-inline="false"></span>تصريح السفر</h3>
  <p class="ProcSecP">نحرص على استقطاب عماله مهنية، مدربه و محترفة لتخدم جميع القطاعات التجارية مثل المطاعم والكوفيهات و الكوفيرات أو حتى المستشفيات</p>
</div>
  </div>
  <div class="row" style="text-align: center;"> 
    <div class="col-md-12">
    <h3 class="ProcSecH3"><span class="iconify icon" data-icon="emojione-monotone:digit-seven" data-inline="false"></span>حجز تذاكر السفر</h3>
      <p class="ProcSecP">نحرص على استقطاب عماله مهنية، مدربه و محترفة لتخدم جميع القطاعات التجارية مثل المطاعم والكوفيهات و الكوفيرات أو حتى المستشفيات</p>
</div>
  </div>