    <!-- we added the row and col div's to arrange things  -->
    <div  nz-row class="rowStyle">
      <div nz-col [nzSpan]="24">
        <!-- nzScroll is for making the table scrollable if there is much data -->
        <button (click) ='printTable(basicTable.data)' class="addBtn" nz-button nzType="text"><i class="fas fa-print" style="padding-right: 10px;"></i>طباعة</button>
    <nz-table dir="rtl" #fixedTable nzBordered #basicTable [nzData]="poloProcedures" [nzScroll]="{ x: '1150px', y: '480px' }">
      <thead>
        <tr>
          <th>إسم الكفيل</th>
          <th>إسم العاملة</th>
          <th>رقم الجوال</th>
          <th>رقم الجوال (2)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.clientName }}</td>
          <td>{{ data.workerName }}</td>
          <td>{{ data.clientPhone }}</td>
          <td>{{ data.clientPhone2 }}</td>
        </tr>
      </tbody>
    </nz-table>
    </div>
    </div>
    
    
    
    
    
    